.btn {
	background-color: DodgerBlue;
	border: white;
	color: white;
	padding: 12px 30px;
	cursor: pointer;
	font-size: 20px;
	 position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.btn:hover {
	background-color: RoyalBlue;
}

body {
          display: grid;
          grid-auto-flow: column;
          gap: 6px;
      }

      div {
          border: 2px solid #2ecc71;
          margin-left: 6px;
      }

      @media screen and (max-width: 768px) {
        body {
            grid-auto-flow: row;
            font-size: 1.5rem;
        } 
     }