h3 {
    font-color: #475c5c;
}

.form-submit-button {
background: #475C5C;
color: white;
border-style: outset;
border-color: #83B0A8;
height: 50px;
width: 100px;
font: bold15px arial,sans-serif;
text-shadow: none;
}

.form-submit-button:hover {
background: #016ABC;
color: #fff;
border: 1px solid #eee;
border-radius: 20px;
box-shadow: 5px 5px 5px #eee;
text-shadow: none;
}