h3 {
    color: white;
}

h5 {
    color: #83B0A8;
}

h1, h4 {
    color: white;
}

.form-submit-button {
    background: #323232;
    font-color: white;
    border-style: outset;
    border-color: #83B0A8;
    height: 100px;
    width: 100px;
    font: sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-shadow: none;
}

.form-submit-button:hover {
    background: #555555;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}
.main{
    height:100vh;
    background-color: #2C3F45;
    background-blend-mode: color-dodge;
}
.banner .container-fluid .jumbotron{
    background: transparent;
}

.jumbotron.text-center{
    background-color: #2C3F45;
}
.btn.btn-primary {
    height: 50px;
    width: 150px;
    border-style: outset;
    border-radius: 15px;
    text-shadow: #fc0 1px 0 10px;
}

p{
 color: white;
}

hr {
display: block;
margin-top: 2rem;
margin-bottom: 2rem;
border-bottom: none;
border-top-width: 1px;
border-top-style: solid;
}

form {
    color: #2C3F45;
}
